@use "../../assets/stylesheets/partials/pallete.scss";

.form {
  .form__error {
    height: 52px;
    margin-bottom: 16px;
    color: pallete.$error-text-colour;
    text-align: center;
    font-size: 1.1rem;
  }

  .form__submit {
    display: flex;
    justify-content: center;

    .submit__button {
      margin-top: 12px;
      padding: 8px 12px;
      background-color: pallete.$secondary-background-colour;
      border: 2px solid pallete.$primary-text-colour;
      border-radius: 16px;
      font-size: 1.2rem;
      font-weight: 600;
      transition: background-color 200ms;

      &:hover {
        background-color: pallete.$hover-background-colour;
        cursor: pointer;
      }
    }
  }
}
