$primary-text-colour: #1d1d1d;
$secondary-text-colour: #0c0c1d;
$hover-text-colour: #0a0276;
$error-text-colour: #840000;
$primary-background-colour: #efefef;
$secondary-background-colour: #fafafa;
$tertiary-background-colour: #e3f1eb;
$hover-background-colour: #e4e4e4;
$secondary-hover-background-colour: #e2fff2;
$shadow-colour: #000;
