$primary-text-colour: #050550;
$secondary-text-colour: #032c04;
$hover-text-colour: #050585;
$primary-background-colour: #d4e5d4;
$secondary-background-colour: #dbeeeb;
$tertiary-background-colour: #f2f1ea;
$shadow-colour: #000;
