$primary-text-colour: #050505;
$secondary-text-colour: #090909;
$hover-text-colour: #0a0276;
$primary-background-colour: #efefef;
$secondary-background-colour: #f8f8f8;
$tertiary-background-colour: #eefff7;
$hover-background-colour: #dfdfdf;
$secondary-hover-background-colour: #e2fff2;
$shadow-colour: #000;
