@use "../../assets/stylesheets/partials/pallete.scss";

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 35%;
  width: 28%;
  padding: 24px;
  color: pallete.$secondary-text-colour;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  background-color: pallete.$tertiary-background-colour;
  border: 4px solid pallete.$secondary-text-colour;
  border-radius: 12px;

  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .header__heading {
      flex-grow: 1;
      margin: 0;
      text-align: center;
      font-size: 1.6rem;
      text-decoration: underline;
    }

    .header__closeButton {
      position: relative;
      top: -6px;
      height: min-content;
      color: pallete.$secondary-text-colour;
      font-size: 2rem;
      line-height: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
