@use "../../assets/stylesheets/partials/pallete.scss";

.modal {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  left: 28%;
  width: 42%;
  height: 400px;
  padding: 12px 20px;
  color: pallete.$secondary-text-colour;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  background-color: pallete.$tertiary-background-colour;
  border: 4px solid pallete.$secondary-text-colour;
  border-radius: 12px;

  .modal__closeButton {
    position: relative;
    top: -4px;
    height: min-content;
    color: pallete.$secondary-text-colour;
    font-size: 1.8rem;
    line-height: 1;

    &:hover {
      cursor: pointer;
    }
  }
}
