@use "../../assets/stylesheets/partials/mixins.scss";
@use "../../assets/stylesheets/partials/pallete.scss";

/* Update dark mode styling when dark mode styling for entire project is added */

html[native-dark-active] {
  .day {
    color: pallete.$secondary-background-colour;
    background-color: pallete.$primary-text-colour;
    border: 2px solid pallete.$secondary-background-colour;
  }
}

.day {
  @include mixins.cell-styles;
  width: 180px;
  height: 200px;
  padding-top: 9px;
  text-align: right;
}
