@use "../../assets/stylesheets/partials/pallete.scss";

.card {
  padding: 8px;
  background-color: pallete.$primary-background-colour;
  border: 2px solid pallete.$primary-text-colour;
  font-size: 0.8rem;
  text-align: left;
  transition: background-color 200ms;

  &:hover {
    color: pallete.$hover-text-colour;
    background-color: pallete.$hover-background-colour;
    cursor: pointer;
  }
}
