.dayHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 384px;
  margin: 0 auto 32px;
  font-size: 1.6rem;
  line-height: 1;

  .dayHeading__navButton {
    width: 48px;

    .navButton__button {
      height: 48px;
      width: 48px;

      .navButton__icon {
        width: 100%;

        &:hover {
          filter: drop-shadow(0 0 2px black);
          cursor: pointer;
        }
      }
    }
  }
}
