@use "../../assets/stylesheets/partials/pallete.scss";

.month__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  font-size: 1.6rem;

  .month__navLink {
    height: 48px;

    .month__navButton {
      width: 48px;

      &:hover {
        filter: drop-shadow(0 0 2px pallete.$shadow-colour);
        cursor: pointer;
      }
    }
  }
}

.month__dayContainer {
  display: flex;
  flex-wrap: wrap;
}
